body {
  font-size: 10px;
  background-color: #457B9D;
}

header {
  padding: 1rem;
  background-color: #1D3557;
  color: #F1FAEE;
}

header h1 {
  font-size: 2rem;
}

main {
  padding-bottom: 4rem;

  color: #F1FAEE;
}

.search-container {

    padding: 1rem;

}

.list-group {
    font-size: 1.5rem;
}

.list-group li {
    padding: 1rem;
    color: #1D3557;
}

.list-group li:hover {
    background-color: #1D3557;
    color: #F1FAEE;
    transition: .25s;
}

.results-container {
    /* background-color: blue; */
    padding: 1rem;
}

#one-day-result {
    color: #1D3557;
    margin-top: 2rem;
    border: 1px solid #1D3557;
    border-radius: 5px;
    padding-top: 2rem;
    padding-bottom: 3rem;
    box-shadow: 1px 1px 10px #1D3557;
    /* background-image:
        linear-gradient(to right, #ffffff, #ffffff27,#3a252500),
        url("assets/snow.jpg"); */
    background-size: cover;
}

.result-p {
    font-size: 1.5rem;
    padding-top: 1.2rem;
}

#five-day-forecast {
    padding: 2rem 4rem;

}

.card-title {
    font-size: 1.5rem;
}

.card {
    margin-top: 1rem;
    padding: 1rem .5rem;
    background-color: #A8DADC;
    color: #1D3557;
}

.hide {
    visibility: hidden;
}